.body {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  
  background-color: #0e1621;
}

.header {
  position: relative;

  background-color: #17212b;
  border-bottom: 1px solid #0e1621;
  color: #fff;
}

.content {
  display: flex;

  flex-grow: 1;
  width: 100%;

  overflow: hidden;
}

.chatList {
  flex: 1 150px;
  
  background-color: #17212b;
  color: #fff;
  overflow-y: auto;
}

.messageList {
  flex: 4;
}